# Eclipse Project Files
*.cproject
*.project

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

modules.order
Module.symvers
.cproject
.project
.*.ko.cmd
.*.mod.o.cmd
.*.o.cmd
.tmp_versions/
*.ko
*.mod.c
